<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>You are now following "<%= @post.title %>".</h1>
        <p><%= link_to "View this post.", topic_post_url(@post.topic, @post) %></p>
        <p>
            If you do not want to recieve anymore email notifications, unfavorite <%= link_to "post", topic_post_url(@post.topic, @post) %>
        </p>
    </body>
</html>