<h1>Welcome</h1>
<p>Please see my Profile on Linkedin for more info and a history of jobs that I have had
    <span><%= link_to "Linkedin", "https://www.linkedin.com/in/caschotch", class: "social-btn", target: "_blank" %></span>
</p>